 <MudContainer Elevation="1" Style="top: auto; bottom: 10%; position: relative; float: left" Fixed="true">
    <MudStack Row="true">
            <MudItem>
                <MudText Align="Align.Left" Class="d-flex justify-start flex-grow-1 mt-20 gap-4" Typo="Typo.h4">ystaggl</MudText>
                <MudText Align="Align.Left" Class="d-flex justify-start flex-grow-1 mt-2 gap-4" GutterBottom="true">amateur software developer; wannabe musician</MudText>
                <div style="position:relative">
                <MudStack Row="true">
                    <MudItem>
                        <a href="https://github.com/ystaggl">
                            <MudIcon class="mt-2" Icon="@Icons.Custom.Brands.GitHub" Title="GitHub"></MudIcon>
                        </a>
                    </MudItem>
                    
                    <MudItem>
                        <a href="mailto:yann@ystaggl.dev">
                            <MudIcon Class="mt-2" Icon="@Icons.Material.Filled.Email" Title="Email"></MudIcon>
                        </a>
                    </MudItem>
                    <MudItem>
                        <a href="mailto:yann@ystaggl.dev">
                            <MudText Style="position: absolute; margin-left: -8px; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);">yann@ystaggl.dev</MudText>
                        </a>
                    </MudItem>
                </MudStack>
                </div>

                
            </MudItem>

            <MudHidden Breakpoint="Breakpoint.Xl" Invert="true">
                <MudItem Style="position:absolute; right:5%" Class="d-flex justify-end align-end">
                    <a href="/Contact">
                        <MudText Align="Align.Right" Class="d-flex justify-end flex-grow-1 mt-20 gap-4" Typo="Typo.h5">Contact me!</MudText>
                    </a>
                </MudItem>
            </MudHidden>
    </MudStack>
</MudContainer>