@page "/about"

<style>
    html, body {
        background: url('/Images/background.png');
        background-size: cover;
    }
</style>

<PageTitle>About</PageTitle>

<MudContainer Class="d-flex align-center mt-20 justify-center">
    <MudText Typo="Typo.h3" GutterBottom="true">About<span class="mud-secondary-text"> me</span></MudText>
    </MudContainer>
<MudContainer>
    <MudText Class="d-flex align-center justify-center mb-3">
        My name is Yann Staggl, and I'm a 21 year old software developer based in Austria!
    </MudText>
    <div Class="d-flex align-end ml-10 mr-10">
    <MudText>

        I started with my first simple batch script, which I wrote during my middle school lunch break in 2015, following a tutorial on how to make a 'matrix' effect in a cmd window, and since then I've slowly gotten better by making whatever new program
        ideas I had. I grew up writing scripts in various languages,
        from AutoHotKey to PowerShell, but in 2020, I finally started programming with <span class="mud-secondary-text">Python</span> and <span class="mud-secondary-text">C#</span>, and I haven't looked back! 
        My projects may be simple in scope, but I always have a lot of fun making them. You can check them out
        over on the <MudLink Color="Color.Secondary" Href="projects">projects</MudLink> page. Lately, I've been interested in using more C# over Python, as the scope of my
            projects keeps slowly growing, but I'm not too attached to any language — I have a lot
        of fun learning new languages, so I'm happy to do so if a project requires it. Well, as long as it's not <span class="mud-secondary-text">Malbolge</span>.
        
        
    </MudText>
    </div>
    <MudSpacer/>
    <div Class="d-flex align-end mt-5 ml-10 mr-10">
        <MudText>
            Aside from that, I've been playing guitar for basically as long as I can remember,
            my passion for guitar was first lit when I heard <MudLink Color="Color.Secondary" Href="https://open.spotify.com/artist/2yzxX2DI9LFK8VFTyW2zZ8?si=I4vaFmiPT-ej3vhOAUaVLA">Joe Satriani</MudLink>
            on my dads old iPod, but lately my biggest inspiration has been <MudLink Color="Color.Secondary" Href="https://open.spotify.com/artist/19MZg9MYc5xw08l09RCfrT?si=POCm0nXPSPKJRGAtpvKT-g">Guthrie Govan</MudLink>. 
            If you recognize those names, you know that means I like my songs to be way too difficult. I've always really enjoyed challenging myself and pushing my limits, which I think has shaped a lot of who I am today.


        </MudText>
    </div>
    
</MudContainer>