@page "/music"

<style>
    html, body {
        background: url('/Images/background.png');
        background-size: cover;
    }
</style>

<PageTitle>Music</PageTitle>

<MudContainer Class="d-flex mt-10">
    <MudStack>
    <MudText Typo="Typo.h1">Mus<span class="mud-secondary-text">ic</span></MudText>
    <MudText Typo="Typo.subtitle1" GutterBottom="true">
        While I don't have any finished songs to publish yet, I'd like to share some of the little projects I've been working on so far.
    </MudText>
        <MusicShowcase namestart="Samurai " namehighlight="Step" audiosource="/Music/Samurai Step.mp3">
        This project actually started as a transcription of K.K. Cruisin', but after finishing I decided to write my own song. It takes a lot of inspiration from Video Game music,
        notably Ace Attorney. I also think the name probably came from me thinking about the samurai from Rhythm Doctor.
        
        </MusicShowcase>
    </MudStack>
</MudContainer>

