@page "/music"

<PageTitle>Music</PageTitle>

<MudContainer Class="d-flex mt-10">
    <MudStack>
    <MudText Typo="Typo.h1">Mus<span class="mud-secondary-text">ic</span></MudText>
    <MudText Typo="Typo.subtitle1" GutterBottom="true">
        While I don't have any finished songs to publish yet, I'd like to share some of the little projects I've been working on so far.
    </MudText>
        <MusicShowcase namestart="Lobby " namehighlight="1A" audiosource="/Music/Samurai Step.mp3">
        This project actually started as a transcription of K.K. Cruisin', but after finishing I decided to write my own song. It takes a lot of inspiration from Video Game music,
        notably Ace Attorney. For this one I focused on keeping the chord voicings tightly packed together, so while the chords are moving they don't feel like they're jumping all over the place.
        I wanted to add extensions on the last two chords of the chorus but that didn't sound good, so I compromised by adding that high pitch chimed to imply them, which I think
        ended up sounding really good
        </MusicShowcase>
    </MudStack>
</MudContainer>

