@page "/music"


<PageTitle>Music</PageTitle>

<MudContainer Class="d-flex mt-10">
    <MudStack>
    <MudText Typo="Typo.h3" GutterBottom="true">Mus<span class="mud-secondary-text">ic</span></MudText>
    <MudText Typo="Typo.subtitle1" GutterBottom="true">
        Eventually, I would love to share some of the music I've made here. Unfortunately, I'm not quite brave enough for that yet, so for now I'd like to showcase
        some music I really like!
    </MudText>
    </MudStack>
</MudContainer>

