@page "/music"


<PageTitle>Music</PageTitle>

<MudContainer Class="d-flex mt-10">
    <MudStack>
    <MudText Typo="Typo.h3" GutterBottom="true">Mus<span class="mud-secondary-text">ic</span></MudText>
    <MudText Typo="Typo.subtitle1" GutterBottom="true">
        This page is a Work In Progress
    </MudText>
    </MudStack>
</MudContainer>

