@page "/programming"


<PageTitle>Programming</PageTitle>


<MudContainer Class="d-flex mt-10">
    <MudText Typo="Typo.h3" GutterBottom="true">Proj<span class="mud-secondary-text">ects</span></MudText>
</MudContainer>

<MudContainer Class="mt-5">
<MudGrid>
    <MudItem>
        <ProjectShowcase namestart="ystaggl" namehighlight=".dev" link="https://github.com/ystaggl/ystaggl.dev" year="2024">
            This is my first website! I created it as a learning experience
            and to showcase my software. I built it in Blazor using the MudBlazor component library. It features Responsive Design, so feel free to check it out on mobile.
            Perhaps the most exciting feature I'm hoping to implement is buttons to display the code that created pages on the website directly from github.
        </ProjectShowcase>
    </MudItem>
    <MudItem>
        <ProjectShowcase namestart="Pip" namehighlight="Py" link="https://github.com/ystaggl/PipPy" year="2022">
            PipPy is a program written in python that lets you run desktop windows in Picture-in-Picture mode, similar to the feature in most browsers that you might see while watching a
            YouTube video. This is most useful for
            watching local video in a desktop video player.
            When running, it hides in the background waiting for a hotkey to be pressed. It then manipulates the Style Flags of the target window
            using WinApi to make it floating, borderless, and pinned to the top of the screen.
        </ProjectShowcase>
    </MudItem>
    <MudItem>
        <ProjectShowcase namestart="Logi" namehighlight="Py" link="https://github.com/ystaggl/LogiPy" year="2022">
            LogiPy is a python program that interfaces with the Logitech Lighting API, to allow the programatic customization of the RGB lights on logitech keyboards. 
            As the API can only be used by one program at a time, it takes full control of it. It then acts somewhat like a message broker, allowing other programs to issue
            lighting change commands over a local port, translating those commands and then sending them to the Logitech Lighting API. This means multiple different programs
            can make changes to the lighting at the same time without conflicts over control of the API.
        </ProjectShowcase>
    </MudItem>
</MudGrid>
</MudContainer>