@page "/contact"


<PageTitle>Contact</PageTitle>
<MudContainer Style="position:relative; margin: auto" Class="d-flex align-center mt-20 justify-center">
    <MudPaper Class="pa-16 ma-2">
        <MudText Typo="Typo.h3" GutterBottom="true"><span class="mud-secondary-text">Contact</span></MudText>
        <MudStack Row="true">
            <MudItem>
                <MudIcon Icon="@Icons.Material.Filled.Email"/>
            </MudItem>
            <MudItem>
                <MudText Style="margin-left: -5px">yann@ystaggl.dev</MudText>
            </MudItem>
        </MudStack>
        
        <MudText Align="Align.Center">
            More contact information can be found on my <a class="mud-secondary-text" href="/Resume.pdf">
                resume
            </a>
        </MudText>
        

        


    </MudPaper>
</MudContainer>