 <MudContainer Elevation="1" Style="top: auto; bottom: 10%" Fixed="true">
    <MudStack Row="true">
            <MudItem>
                <MudText Align="Align.Left" Class="d-flex justify-start flex-grow-1 mt-20 gap-4" Typo="Typo.h4">ystaggl</MudText>
                <MudText Align="Align.Left" Class="d-flex justify-start flex-grow-1 mt-2 gap-4" GutterBottom="true">amateur software developer and wannabe musician</MudText>
            <a href="https://github.com/ystaggl">
                <MudIcon class="mt-2" Icon="@Icons.Custom.Brands.GitHub" Title="GitHub"></MudIcon>
            </a>
            </MudItem>

            <MudHidden Breakpoint="Breakpoint.Xl" Invert="true">
            <MudItem Style="position:absolute; right:5%" Class="d-flex justify-end align-end">
                <MudText Align="Align.Right" Class="d-flex justify-end flex-grow-1 mt-20 gap-4" Typo="Typo.h5">Contact me!</MudText>

            </MudItem>
            </MudHidden>
    </MudStack>
</MudContainer>